<style type="text/css">
			
			* {
				margin:10px;
				padding:10px;
			}
			body{
				background-color: #FAFAD2;
				
			}
			
			#header {
				margin:auto;
				font-family:Arial, Helvetica, sans-serif;
			}
			h1{
				 size="300";
			}
			
			ul, ol {
				list-style:none;
				display:inline-block;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color: RGB(255, 127, 80);
				color:#fff;
				text-decoration:none;
				padding:25px 175px;
				display:inline-block;
				cursor: pointer;
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav {	
				margin:0 auto ; /*Centramos automaticamente*/
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:inline-block;
			}
			chartjs-render-monitor {
				-webkit-animation: chartjs-render-animation 0.001s;
				animation: chartjs-render-animation 0.001s;
				animation-duration: 0.001s;
				animation-timing-function: ease;
				animation-delay: 0s;
				animation-iteration-count: 1;
				animation-direction: normal;
				animation-fill-mode: none;
				animation-play-state: running;
				animation-name: chartjs-render-animation;
			}
			
			
</style>